* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
}
@font-face {
  font-family: "Deng";
  src: url("./Deng.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dengl";
  src: url("./Dengl.ttf");
  font-weight: normal;
  font-style: normal;
}

.content{
  height: 260px;
  position: absolute;
  top: 50%;
  margin-top: -140px;
  width: 100%;
  
}
/* 钟表 */
.time{
  width: 300px;
  margin: 0 auto 40px;
}
.clock{
  color: #ccc;
  text-align: center;
  font-family: 'Dengl';
  font-size: 84px;
  line-height: 88px;
}
.calendar{
  color: #ccc;
  text-align: center;
  font-family: 'Deng';
  font-size: 28px;
  line-height: 30px;
}

/* 链接 */
.links{
  width: 300px;
  margin: 40px auto;
}
.links-icon-list{
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.links-icon{
  width: 50px;
  height: 62px;
  padding: 6px 0;
  transition: 0.1s;
  cursor: pointer;
}
.links-icon img{
  width: 50px;
  height: 50px;
  transition: 0.1s;
}
.links-icon:hover, .links-icon:hover img{
  width: 62px;
  height: 62px;
  padding: 0;
}

.links-work-list{
  width: 300px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #ccc;
}
.links-text{
  text-decoration: none;
  color: #ccc;
  font-size: 20px;
  line-height: 36px;
  transition: 0.1s;
}
.links-text:hover{
  font-size: 22px;
}