* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
}
@font-face {
  font-family: "Deng";
  src: url("./Deng.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dengl";
  src: url("./Dengl.ttf");
  font-weight: normal;
  font-style: normal;
}

/* 钟表 */
.time{
  width: 400px;
  margin: 160px auto;
}
.clock{
  color: #ccc;
  text-align: center;
  font-family: 'Dengl';
  font-size: 72px;
}
.calendar{
  color: #ccc;
  text-align: center;
  font-family: 'Deng';
  font-size: 24px;
}

/* 链接 */