* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ddd;
}
@font-face {
  font-family: "MFBenHei";
  src: url("./MFBenHei.ttf");
  font-weight: normal;
  font-style: normal;
}


.links {
  display: flex;
  margin: 30px;
}
.links-list{
  margin-right: 10px;
}
.links-item{
  display: block;
  background-color: #555;
  border-radius: 5px;
  width: 220px;
  height: 90px;
  line-height: 90px;
  color: #eee;
  text-align: center;
  font-family: "MFBenHei";
  font-size: 24px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
}